fastapi
uvicorn[standard]
openai
qdrant-client
psycopg2-binary
python-dotenv
pydantic-settings
httpx
langchain
langchain-text-splitters
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
email-validator
python-multipart
google-generativeai